#result {
    display: none;
}
 
#quiz {
    width : 700px;
    height : 700px;
    position : absolute;
    top : 50%;
    left : 50%;
    background: rgba(255, 99, 71, 0.5);
    padding : 20px;
    border : 2px solid black;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: blueviolet;
}

body {
    background:  rgba(0, 0, 255, 0.295);
}

.option {
    box-shadow: whitesmoke;
    border : 2px solid black;
    padding : 20px;
    width : 300px;
    display : inline-block;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 5px;
}

#tittle {
    font-family: 'Fjalla One', sans-serif;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color : yellow;
}

#question {
    font-size: 25px;
    color :greenyellow;
    margin : 10px;
    padding : 20px;
    border : 2px solid black;
    background-color: black;
    border-radius : 12px;
}

#next-button {
    border : none;
    outline :  none;
    background-color : black;
    color : white;
    border-radius: 12px;
    width : 100px;
    height : 30px;
    vertical-align : center;
    cursor : pointer;
    float :right;
    margin : 10px;
}

#result {
    text-align: center;
    font-size : 70px;

}

#audio-source {
    border : 2px solid ;
    float : right;
    border: none;
}

#images {
    margin : 10px 100px;
}

